@use '../styles/mysten-icons.scss' as icons;
@use '../styles/values.scss';

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    @include icons.icon(logo);

    font-size: 20px;
}

.txt {
    @include icons.icon(logo-txt);

    margin-left: 10px;
    font-size: 20px;
    margin-top: 3px;
}
