@use '../styles/mysten-icons.scss' as icons;
@use '../styles/values.scss';

.logo {
    display: flex;
    align-items: center;

    &.left {
        flex-direction: row;
    }

    &.top {
        flex-direction: column;
    }
}

.icon {
    @include icons.icon(logo);

    .normal > & {
        font-size: 20px;
    }

    .big > & {
        font-size: 60px;
    }

    .huge > & {
        font-size: 100px;
    }
}

.txt {
    @include icons.icon(logo-txt);

    .normal > & {
        font-size: 20px;
    }

    .big > & {
        font-size: 60px;
    }

    .huge > & {
        font-size: 100px;
    }

    .left > & {
        margin-top: 3px;
        margin-left: 10px;
    }

    .top > & {
        margin-top: 8px;
    }
}
