@use './values.scss';

@font-face {
    font-family: mysten-icons;
    src: url('../assets/fonts/mysten-icons.woff');
    src: url('../assets/fonts/mysten-icons.woff') format('woff'),
        url('../assets/fonts/mysten-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-color: values.$bg-colour;
    scroll-behavior: smooth;
    color: values.$white;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    justify-content: center;
    justify-items: center;

    &.gap-small {
        grid-gap: 35px;
    }

    &.gap-medium {
        grid-gap: 55px;
    }

    &.gap-row-big {
        row-gap: 65px;
    }

    &.col-2 {
        grid-template-columns: 1fr 1fr;
    }

    &.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 800px) {
        &.col-2 {
            grid-template-columns: 1fr;
        }

        &.col-4 {
            grid-template-columns: 1fr 1fr;
        }

        &.gap-small {
            grid-gap: 15px;
        }
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
