@use 'sass:map';

$icons: (
    'logo': '\e900',
    'logo-txt': '\e901',
    'discord': '\e902',
    'arrow': '\e903',
    'sui': '\e904',
    'move': '\e905',
    'fb': '\e906',
    'twitter': '\e907',
    'linkedin': '\e908',
    'github': '\e909',
    'clock': '\e90a',
);

%icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: mysten-icons !important; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// TODO: pre-generate the icon classes and use a component for the icons
@mixin icon($icon, $as: 'before') {
    @if not map.has-key($icons, $icon) {
        @error "Icon #{$icon} not found in icons map";
    }
    @if $as != 'before' and $as != 'after' {
        @error "as must be either 'before' or 'after'";
    }

    &::#{$as} {
        /* stylelint-disable-next-line function-no-unknown */
        content: map.get($icons, $icon);
        @extend %icon;
    }
}
