$black: black;
$black-2: #0e0e0e;
$white: white;
$off-white: #b8b8b8;
$primary: #d40551;
$secondary: #ffd8e6;
$bg-colour: $black-2;
$header-bg-colour: $white;
$header-height: 79px;
$header-total-vertical-margin: 43px;
$main-top-padding: 2rem;
$border-radius: 76px;
$btn-primary-bg: #ffd8e6;
$btn-primary-color: $primary;
$btn-primary-border: none;
$btn-secondary-bg: $black-2;
$btn-secondary-color: $white;
$btn-secondary-border: 1px solid rgb(255 255 255 / 19%);
$btn-alternative-bg: #383637;
$btn-alternative-color: $white;
$btn-alternative-border: none;
$section-border-radius: 40px;
$section-primary-bg: #1c1b1b;
$section-primary-color: $white;
$section-primary-alt-color: $off-white;
$section-secondary-bg: $white;
$section-secondary-color: $black;
$section-secondary-alt-color: $black;
$section-transparent-alt-color: $off-white;
$card-border-radius: 19px;
$card-border: 1px solid rgb(255 255 255 / 11%);
