@use '../styles/values.scss';

.btn,
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.btn {
    border-radius: values.$border-radius;
    padding: 18px 38px;
    border: values.$btn-primary-border;
    background-color: values.$btn-primary-bg;
    color: values.$btn-primary-color;

    &.secondary {
        border: values.$btn-secondary-border;
        background-color: values.$btn-secondary-bg;
        color: values.$btn-secondary-color;
    }

    &.alternative {
        border: values.$btn-alternative-border;
        background-color: values.$btn-alternative-bg;
        color: values.$btn-alternative-color;
    }
}

@media (max-width: 600px) {
    .btn,
    .link {
        font-size: 12px;
    }

    .btn {
        padding: 9px 19px;
    }
}

.link {
    text-decoration: none;

    &.plain:hover {
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.disabled {
    cursor: default;
}

button.link.plain {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
